body {
  background: #ccc;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
}

.board-tile {
  display: flex;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  background: #eee;
  height: 100px;
  width: 100px;
  border: 1px darkgray solid;
}
.board-tile:hover {
  background-color: #fff;
  color: firebrick;
}
